!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;') 
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/mousewheel.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')
    script(src='/javascripts/prettify.js')
    script(src='/javascripts/application.js')
    
  body
    != body